body
{
    font-family: Arial, Helvetica, sans-serif;
}

label
{
    display: inline-block;
    /* width: 350px; */
    text-align: right;
}

input
{
    width: 50px;
    text-align: center;
}

table
{
    margin: 0 auto; /* or margin: 0 auto 0 auto */
    margin-bottom: 20px;
} 

th, td
{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.navtop
{
    background-color: #3f69a8;
    height: 60px;
    width: 100%;
    border: 0;
}

.navtop div
{
    display: flex;
    margin: 0 auto;
    width: 1000px;
    height: 120%;
}

.navtop div h1, .navtop div a
{
    display: inline-flex;
    align-items: center;
}

.navtop div h1
{
    position: relative; right: 400px;
    flex: 1;
    font-size: 24px;
    padding: 0;
    margin: 0;
    color: #ecf0f6;
    font-weight: normal;
}

.navtop div a
{
    position: relative; left: 400px;
    padding: 0 20px;
    text-decoration: none;
    color: #c5d2e5;
    font-weight: bold;
}

.navtop div a i
{
    padding: 2px 8px 0 0;
}

.navtop div a:hover
{
    color: #ecf0f6;
}

.container
{
    display: block;
    align-items: center;
    text-align: center;
}

#result
{
    visibility: hidden;
}

.input_table tr, .input_table td
{
    text-align: right;
}

.class_mask_table_value
{
    text-align: left;
}

.class_mask_table_range
{
    text-align: center;
}

#classRange
{
    font-weight: bold;
}

#subnetMask
{
    font-weight: bold;
}

#rangeSelection_container
{
    visibility: hidden;
}

#ipAddressTable_container
{
    visibility: hidden;
}

.ipAddressTable, .ipAddressTable th, .ipAddressTable tr, .ipAddressTable td
{
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 20px;
    font-weight: bold;
}

.ipAddressTable_table_sr_title
{
    color: #04BB07;
}

.ipAddressTable_table_firstip_title, .ipAddressTable_table_lastip_title
{
    color: blue;
}

.ipAddressTable_table_broadcast_title
{
    color: red;
}

/* , .ipAddressTable th, .ipAddressTable td */